* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Nav section */
.header-section {
  margin: 15px 10px;
  text-align: right;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-size: 1.4em;
}

a:active {
  text-decoration: none;
}
/* End of Nav section */

/* Header section */
/* End of Header section */

/* Main section */
/* End of Main section */

/* Footer section */
/* End of Footer section */
