* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #3c238ed7;
}

/* Nav section */
.nav-section {
  padding: 5px 10px;
  text-align: right;
  text-transform: uppercase;
  background-color: #343a40;
}

.nav-button {
  padding: 5px;
  border-radius: 15px;
  background-color: green;
  color: #dcddd5;
  cursor: pointer;
}

#nav-sign_in {
  visibility: hidden;
}

a:link {
  text-decoration: none;
  padding: 0 10px;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/* End of Nav section */

/* Header section */
.header-section {
  padding: 30px;
  font-size: 2em;
  text-align: center;
}
/* End of Header section */

/* Main section */
.left-column {
  float: left;
  width: 75%;
}

.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.thumbnail {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  margin: 0 10px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.card p {
  padding-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* End of Main section */

/* Footer section */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
/* End of Footer section */

@media screen and (max-width: 800px) {
  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }
}
